*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
  }

html{
    margin:0;
    padding:0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('img/terre.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    overflow: hidden;
}

  img{

    height: 90px;
    width: 90px;
    position: absolute;

}

  #interface{
      height: 115%;
      width: auto;
  }

  .r{
      position: fixed;
      top: 0;
      right: 0;
  }

  .l{
      position: fixed;
      top: 0;
      left:0;
  }

p{
    font-size: 20px;
    margin: 0;
    padding-left: 5%;
    padding-top: 5%;
    
}

.flex{
    display: flex;
}

.centerCenter{
    align-items: center;
    justify-content: center;
}  

.contDice{
    border-radius: 10%;
    background-color: rgba(255, 235, 205, 0.445);
    border: 2px solid white;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    margin-left: 10px;
    font-size:16px;
}


.myButton {
    margin-top: 20px;
    position: absolute;
    border: none;
    width: 120px;
    height: auto;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin : 10px;
    background : black;
    width: 200;
    height: 200px;
}