html{
    margin:0;
    padding:0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
}

.centerCenter{
    align-items: center;
    justify-content: center;
}  

.container{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin-left: 10px;
}




img{
    position: relative;
    left: 10%;
    bottom: 10%;
    height: 90px;
    width: 90px;
}

p{
    margin: 0;
}